<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Autoservis{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <header>
        <h1>Autoservis</h1>
        <nav>
            <a href="/">Domů</a> |
            <a href="/sluzby">Služby</a> |
            
            {% if request.cookies.get("access_token") %}
                <a href="/dashboard">Dashboard</a> |
                <a href="/logout" style="color: #ffcccc;">Odhlásit se</a>
            {% else %}
                <a href="/login">Přihlášení</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Autoservis</p>
    </footer>
</body>
</html>
