{% extends "base.html" %}
{% block title %}Dashboard Mechanik{% endblock %}
{% block content %}

<h1>Přihlášen jako: Mechanik</h1>

<div class="table-container">
    <table>
      <tr>
        <th>ID</th>
        <th>Značka</th>
        <th>Poznámka</th>
        <th>Stav</th>
        <th>Práce</th>
        <th>Akce (Změna stavu)</th>
      </tr>
      {% for o in objednavky %}
      <tr>
        <td>{{ o.id_objednavky }}</td>
        <td>{{ o.znacka }}</td>
        <td>{{ o.poznamka }}</td>
        <td><strong>{{ o.stav }}</strong></td>
        <td>
            {% if o.servisy %}
                {% for s in o.servisy %}
                    <div class="work-item">{{ s.prace_nazev }}</div>
                {% endfor %}
            {% else %}
                <span class="no-mechanic">Žádná práce</span>
            {% endif %}
        </td>
        <td>
          <form action="/dashboard/mechanik/zmen_stav" method="post" class="m-0">
            <input type="hidden" name="id_obj" value="{{ o.id_objednavky }}">
            <div class="d-flex gap-sm">
                <select name="id_stavu" class="w-auto m-0 p-small">
                  {% for s in stavy %}
                    <option value="{{ s.id }}" {% if s.nazev_stavu == o.stav %}selected{% endif %}>
                      {{ s.nazev_stavu }}
                    </option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn-small">Uložit</button>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
</div>

{% endblock %}