{% extends "base.html" %}

{% block title %}Nová objednávka{% endblock %}

{% block content %}
<div class="auth-container" style="max-width: 600px;">
    <h2>Nová objednávka</h2>

    {% if chyba %}
        <div class="alert alert-danger">
            {{ chyba }}
        </div>
    {% endif %}
    <form method="post">
        <label for="datum">Datum a čas:</label>
        <input type="datetime-local" id="datePicker" name="datum" value="{{ datum or '' }}" required>
        <small class="text-muted" style="display: block; margin-top: -10px; margin-bottom: 15px;">Otevírací doba: Po-Pá 8:00 - 16:00</small>

        <label for="znacka">Značka vozu:</label>
        <input type="text" id="znacka" name="znacka" value="{{ znacka or '' }}" required>

        <label for="poznamka">Uveďte pokud možno konkrétní model a rok výroby Vašeho vozu a stručně popište problém:</label>
        <textarea id="poznamka" name="poznamka" rows="3">{{ poznamka or '' }}</textarea>

        <label>Požadované práce:</label>
        <div id="prace-container">
            <div class="prace-row">
                <select name="id_prace" required>
                    <option value="" disabled selected>-- Vyberte práci --</option>
                    {% for p in prace %}
                        <option value="{{ p.ID_prace }}">{{ p.nazev_prace }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="button" id="btn-pridat" class="btn btn-secondary btn-small mb-2">
            + Přidat další práci
        </button>

        <button type="submit" class="btn-block btn-success">Vytvořit objednávku</button>
    </form>
</div>
{% endblock %}